<div id="sidebar">
  <img src="./../assets/moon1.png" id="p1nav" class="moonnav" (click)="navigateButtonClick($event)">
  <img src="./../assets/moon2.png" id="p2nav" class="moonnav" (click)="navigateButtonClick($event)">
  <img src="./../assets/moon3.png" id="p3nav" class="moonnav" (click)="navigateButtonClick($event)">
</div>

<div id="story-content">

  <div (click)='onToggle()' id="p1">
    <h2>The</h2>
    <h2>Things</h2>
    <h2>They</h2>
    <h2>Carried</h2>
    <p id="titlep">
    </p>
  </div>

  <div id="p2">
    <h1>test</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div id="p3">
    <h1>test</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>


</div>
