<div id="sidebar">
  <img src="./../assets/1.png" id="p1nav" class="moonnav" (click)="navigateButtonClick($event)">
  <img src="./../assets/2.png" id="p2nav" class="moonnav" (click)="navigateButtonClick($event)">
  <img src="./../assets/3.png" id="p3nav" class="moonnav" (click)="navigateButtonClick($event)">
</div>

<div id="story-content">

  <div (click)='onToggle()' id="p1">
    <img id="sun" src="./../assets/sun.png"/>
    <h2 class="titleh2">The</h2>
    <h2 class="titleh2">Things</h2>
    <h2 class="titleh2">They</h2>
    <h2 class="titleh2">Carried</h2>
    <h2 id="titlep">adapted from the novel by Tim O'Brien</h2>
  </div>

  <div id="p2">
    <h1>test</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div id="p3">
    <h1>test</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>


</div>
